# Configurações para nomes de arquivos longos
* -text
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.bmp binary
# Preservar nomes de arquivos
* -text -diff
*.rar filter=lfs diff=lfs merge=lfs -text
